<div class="row">
    <div class="col-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-12">
        <ul id="messagesList" style="        overflow-y: scroll;        max-height: 300px; ">
            @foreach (var message in ViewBag.listaDeMensagens)
        {
            <li><b>@message.UserName</b> says: @message.Body</li>
        }   
        </ul>
    </div>
</div>

<div class="container">    
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-1">Message:</div>
        <input class="col-5" type="text" id="messageInput" />
        <div class="col-6">
            <input type="button" id="sendButton" value="Send" />
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>